body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    background: #ddd;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #bbb;
}

.menu-selected a,
.menu-selected {
    background: #666;
    color: #eee;
}

.journal,
.ledger,
.compte-resultat,
.bilan {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table td {
    background-color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.account {
    margin-bottom: 20px;
}

.account h2 {
    margin-bottom: 10px;
}

.total,
.solde,
.income-statement-title {
    font-weight: bold;
}

.income-statement-title {
    font-style: italic;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#infoBtn {
    font-size: 1.2em;
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #007BFF;
}

#infoBtn:hover {
    color: #0056b3;
}

.error-message {
    color: red;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid red;
    background-color: #f8d7da;
    display: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}